body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1.5rem;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 1.4em;
    color: #E04E00;
    padding-left: 5%;
    margin-left: 5%;
}

h2 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 1.7rem;
    color: #E04E00;
}

h3 {
    font-family: 'Exo', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: .05rem;
    color: #0099AB;
    margin: 0;
}

p {
    font-family: 'Bitter', serif;
    font-weight: 400;
    color: #707070;
    line-height: 1.6em;
}

header {
    height: 90vh;
}

img {
    width: 100%;
}

/* .side-padding {
    padding-left: 40px;
    padding-right: 40px;
} */

.inherit-grid {
    display: grid;
    grid-template-columns: inherit;
    grid-gap: inherit;
}

.one-17 {
    grid-column: 1 / 17;
}

.two-16 {
    grid-column: 2 / 16;
}

.top-padding {
    padding-top: 10%;
}

.bottom-padding {
    padding-bottom: 10%;
}

.gbo-logo {
    width: 200px;
}

.top-line {
    border: 3px solid #E04E00;
}

.align-items-center {
    align-items: center
}

/* TOPNAV */

.topnav {
    grid-column: 2 / 16;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topnav-link {
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
    color: #707070;
}

/* FOOTER */

footer {
    background-color: #EDEDED;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-link {
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
    color: #707070;
}

.footer-line {
    color: #707070;
    padding-left: 2%;
    padding-right: 2%;
}

@media (max-width: 768px) {
    .footer-info {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 2rem;
    }
}

@media (max-width: 600px) {
    .footer-text {
        flex-direction: column;
        align-items: center;
    }
    .footer-line {
        display: none;
    }
}

/* INDEX */

.index-header {
    background-image: url("images/index/index-sunset-1.png");
    background-size: cover;
}

.index-header-text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.index-header-title {
    grid-column: 3 / 10;
    font-family: 'Bitter', serif;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    line-height: 5rem;
    color: white;
    text-shadow: 1px 1px 15px rgb(59, 59, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
}

.index-intro-text {
    
}

/* ABOUT */

.about-header-img {
    grid-column: 1 / 14;
    background-image: url("images/about/about-lighthouse.png");
    background-size: cover;
    height: 90vh;
}

.about-header-textbox {
    grid-column: 8 / 16;
    background-color: #EDEDED;
    position: relative;
    bottom: 60vh;
}

.about-header-title {
    border-left: 6px solid #E04E00;
    margin: 8%;
    padding-left: 5%;
}

.about-leah-headshot {
    grid-column: 3 / 8;
}

.about-leah-bio-text {
    grid-column: 8 / 15;
}

.about-assemble-text {
    grid-column: 2 / 8;
}

.about-assemble-line-header {
    position: relative;
    left: 35%;
    padding-bottom: 10%;
    text-align: right;
}

.about-leah-40 {
    grid-column: 8 / 17;
}

.about-values {
    background-color: #EDEDED;
}

.about-values-images {
    grid-column: 2 / 9;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    grid-gap: 1.5rem;
}

.about-values-images-2 {
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-gap: 1.5rem;
}

.about-values-text {
    grid-column: 9 / 16;
}

.about-sunset-story {
    grid-column: 2 / 9;
}

.about-story-text {
    grid-column: 9 / 16;
}

@media (max-width: 768px) {
    .about-header-img {
        grid-column: 1 / 17;
    }
    .about-header-textbox {
        grid-column: 2 / 16;
        background-color: #EDEDED;
        position: relative;
        bottom: 60vh;
    }
    .about-header-title {
        margin: 15%;
        font-size: 2rem;
    } 
    .about-leah-headshot {
        grid-column: 2 / 16;
    }
    .about-leah-bio-text {
        grid-column: 2 / 16;
    }
    .about-assemble {
        grid-column: 2 / 16;
        display: flex;
        flex-direction: column-reverse;
    }
    .about-assemble-text {
        grid-column: 2 / 16;
    }
    .about-assemble-line-header {
        position: relative;
        left: 0%;
        padding-bottom: 0;
        padding-top: 10%;
        text-align: left;
    }
    .about-leah-40 {
        grid-column: 8 / 17;
    }
    .about-values-images {
        grid-column: 2 / 16;
    }    
    .about-values-text {
        grid-column: 2 / 16;
        padding-top: 5%;
    }
    .about-sunset-story {
        grid-column: 2 / 16;
    }   
    .about-story-text {
        grid-column: 2 / 16;
        padding-top: 5%;
    }
}