body {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1.5rem;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 1.4em;
    color: #E04E00;
    padding-left: 5%;
    margin-left: 5%;
}

h2 {
    font-family: 'Bitter', serif;
}

h3 {
    font-family: 'Exo', sans-serif;
    text-transform: uppercase;
    color: #0099AB;
    margin: 0;
}

p {
    font-family: 'Bitter', serif;
    font-weight: 400;
    color: #707070;
    line-height: 1.5em;
}

/* .side-padding {
    padding-left: 40px;
    padding-right: 40px;
} */

.top-bottom-padding {
    padding-top: 10%;
    padding-bottom: 10%;
}

.grid {
    display: grid;
    grid-template-columns: inherit;
    grid-gap: inherit;
}

img {
    width: 100%;
}

.gbo-logo {
    width: 200px;
}

header {
    height: 90vh;
}

/* TOPNAV */

.topnav {
    grid-column: 2 / 16;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.topnav-link {
    font-family: 'Exo', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .1rem;
    color: #707070;
}

/* INDEX */

.index-header {
    background-image: url("images/index/index-sunset-1.png");
    background-size: cover;
}

.index-header-text {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.index-header-title {
    grid-column: 3 / 10;
    font-family: 'Bitter', serif;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    line-height: 5rem;
    color: white;
    text-shadow: 1px 1px 15px rgb(59, 59, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
}

.index-intro-text {
    
}

/* ABOUT */

.about-header {
    grid-column: 1 / 17;
    display: grid;
    grid-template-columns: inherit;
    grid-gap: inherit;
}

.about-header-img {
    grid-column: 1 / 14;
    background-image: url("images/about/about-lighthouse.png");
    background-size: cover;
    height: 90vh;
}

.about-header-textbox {
    grid-column: 8 / 16;
    background-color: #EDEDED;
    position: relative;
    bottom: 60vh;
}

.about-header-title {
    border-left: 6px solid #E04E00;
    margin: 8%;
    padding-left: 5%;
}

/* .about-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.about-header-img {
    background-image: url("images/about/about-lighthouse.png");
    background-size: cover;
    height: 90vh;
    width: 80%;
}

.about-header-textbox {
    background-color: #EDEDED;
    position: absolute;
    left: 40%;
    margin-right: 40px;
}

.about-header-title {
    border-left: 6px solid #E04E00;
    margin: 8%;
    padding-left: 5%;
} */

.about-header {
    grid-column: 1 / 17;
}

.about-leah-headshot {
    grid-column: 2 / 6;
}

.about-leah-bio-text {
    grid-column: 6 / 12;
}

@media (max-width: 600px) { 
    .about-header-img {
        grid-column: 1 / 17;
    }
    .about-header-textbox {
        grid-column: 2 / 16;
        background-color: #EDEDED;
        position: relative;
        bottom: 60vh;
    }
    .about-header-title {
        margin: 15%;
        font-size: 2rem;
    }  
}